{% extends "base.html" %}
{% block title %}Sensorthings/lora demo{% endblock %}

{% block content %}
<h1>Sensorthings/lora demo</h1>

<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Work in progress!</h4>
  <p>
    This is the work-in-progress website made by Nelen&amp;Schuurmans for testing OGC
    standards and sensorthings and so.
  </p>
  <ul>
    <li><a href="https://github.com/nens/sensordata-demo" class="alert-link">Github repo
           of this website</a> (also with some work-in-progress documentation).
    </li>
    <li><a href="https://sensordata-demo-frost.staging.lizard.net/"
    class="alert-link">FROST sensorthings server</a> (password-protected at the moment
    as the software allows everyone read access by default).
    </li>

  </ul>
</div>

{% endblock %}
